@import "common/media";
@import "common/normalize";

body {
  color: #111519;
  font-family: "Open Sans", "Arail", sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

.main {
  background: #fff url(../img/main-bg.jpg) top left repeat;
}

.display-hidden {
  display: none;
}

.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

.main__wrapper {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  align-items: flex-start;

  @include media(900) {
    flex-wrap: wrap;
  }
}

.content {
  width: 100%;
  max-width: 774px;
}

@import "common/socials";

@import "common/header";
@import "common/slider";
@import "common/about";
@import "common/subscription1";
@import "common/popular";
@import "common/tags";
@import "common/dishes-cards";
@import "common/paginations";
@import "common/instagram";

@import "common/footer";
