section.about
    .about__wrapper.container
        h2.section__title.section__title--white
            span.section__line.section__line--white
            | О нас
            span.section__line.section__line--white
        p.section__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor aboris nisi ut aliquip ex commodo consequat.
        ul.about__items
            li.about__item
                .about__wrapper-icon
                    img.about__icon(src="assets/img/dumbbell.png" width="40" height="26" alt="dumbbell icon")
                h5.about__item-title  Эксклюзивное новое оборудование
            li.about__item
                .about__wrapper-icon
                    img.about__icon(src="assets/img/football-whistle.png" width="40" height="39" alt="football-whistle icon")
                h5.about__item-title Индивидуальный подход к тренировкам
            li.about__item
                .about__wrapper-icon
                    img.about__icon(src="assets/img/discount-sticker.png" width="40" height="39" alt="discount-sticker icon")
                h5.about__item-title  Скидочные программы для постоянных клиентов
            li.about__item
                .about__wrapper-icon
                    img.about__icon(src="assets/img/roll-mat.png" width="40" height="30" alt="roll-mat icon")
                h5.about__item-title  Мы предоставляем свой спортинвентарь
        div.about__video-wrapper
            video.about__video(poster='assets/img/poster-video.jpg')
                source(src='assets/video/sony.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                |   Your browser doesn't support HTML5 video tag.


