.about
    h3.about__title Обо мне
    .about__rang Кулинар пятого розряда
    img.about__img(src="assets/img/about.jpg", alt="Dishes photo")
    p.about__paragrapg Neque porro quisquam est, dolorem ipsum dolor sit amet, consectetur, velit, sed quia aliquam quaerat voluptatem.
    a.about__more(href="#")
        | Подробнее
        .fas.fa-angle-right