section.banner-news
    .banner-news__wrapper.container
        h2.banner-news__title Подписаться на новости
        p.banner-news__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor commodo consequat.
        form.banner-news__buttons(action="#")
            input(type="email", placeholder="Электронная почта").banner-news__input
            button(type="submit").banner-news__button Подписаться