section.coach
    .coach__wrapper.container
        h2.section__title
            span.section__line
            |Тренера
            span.section__line
        ul.coach__items
            li.coach_item
                .coach__photo-wrapper
                    img.coach__photo(src="assets/img/strong-man.png" alt="Photo strong man")
                div.coach__name Имя Фамилия
                div.coach__position Главный тренер
                p.coach__paragraph Lorem ipsum dolor consectetur adipisicing, eiusmo incididunt labore dolore aliqua.
            li.coach_item
                .coach__photo-wrapper
                    img.coach__photo(src="assets/img/coach-women.jpg" alt="coach women")
                div.coach__name Имя Фамилия
                div.coach__position Тренер
                p.coach__paragraph Lorem ipsum dolor consectetur adipisicing, eiusmo incididunt labore dolore aliqua.
            li.coach_item
                .coach__photo-wrapper
                    img.coach__photo(src="assets/img/man.jpg" alt="coach man")
                div.coach__name Имя Фамилия
                div.coach__position Тренер
                p.coach__paragraph Lorem ipsum dolor consectetur adipisicing, eiusmo incididunt labore dolore aliqua.
            li.coach_item
                .coach__photo-wrapper
                    img.coach__photo(src="assets/img/coach-woman2.jpg" alt="coach man")
                div.coach__name Имя Фамилия
                div.coach__position Тренер
                p.coach__paragraph Lorem ipsum dolor consectetur adipisicing, eiusmo incididunt labore dolore aliqua.









