section.dishes-cards
    .dishes-cards__wrapper
        .dishes-card
            img(src="assets/img/dishes-1.jpg" alt="dishes photo")
            .dishes-card__type Ужин
            h3.dishes-card__title Сырники из творога
            div.dishes-card__date
                | Февраль 29, 2017
                | |
                .coments
                   | 0
            p.dishes-card__paragraph Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.
            .dishes-card__links
                a.dishes-card__more(href="#") Подробнее
                .socials
                    a.socials__link(href="#")
                        i.fab.fa-facebook-f
                    a.socials__link(href="#")
                        i.fab.fa-vk
                    a.socials__link(href="#")
                        i.fab.fa-twitter
                    a.socials__link(href="#")
                        i.fab.fa-instagram
                    a.socials__link(href="#")
                        i.fab.fa-instagram
        .dishes-card
            img(src="assets/img/dishes-2.jpg" alt="dishes photo")
            .dishes-card__type Полезные статьи
            h3.dishes-card__title Конкурс рецептов «Аппетитный перекус»: итоги
            div.dishes-card__date
                | Февраль 29, 2017
                | |
                .coments
                    | 0
            p.dishes-card__paragraph Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.
            .dishes-card__links
                a.dishes-card__more(href="#") Подробнее
                .socials
                    a.socials__link(href="#")
                        i.fab.fa-facebook-f
                    a.socials__link(href="#")
                        i.fab.fa-vk
                    a.socials__link(href="#")
                        i.fab.fa-twitter
                    a.socials__link(href="#")
                        i.fab.fa-instagram
                    a.socials__link(href="#")
                        i.fab.fa-instagram
        .dishes-card
            img(src="assets/img/dishes-3.jpg" alt="dishes photo")
            .dishes-card__type Ужин
            h3.dishes-card__title Быстрые бутерброды
            div.dishes-card__date
                | Февраль 29, 2017
                | |
                .coments
                    | 0
            p.dishes-card__paragraph Neque porro dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia numquam eius modi aliquam quaerat voluptatem.
            .dishes-card__links
                a.dishes-card__more(href="#") Подробнее
                .socials
                    a.socials__link(href="#")
                        i.fab.fa-facebook-f
                    a.socials__link(href="#")
                        i.fab.fa-vk
                    a.socials__link(href="#")
                        i.fab.fa-twitter
                    a.socials__link(href="#")
                        i.fab.fa-instagram
                    a.socials__link(href="#")
                        i.fab.fa-instagram
        .dishes-card
            img(src="assets/img/dishes-4.jpg" alt="dishes photo")
            .dishes-card__type Супы
            h3.dishes-card__title Чечевичный суп
            div.dishes-card__date
                | Февраль 29, 2017
                | |
                .coments
                    | 0
            p.dishes-card__paragraph Consectetur adipisicing elit, eiusmod tempor incididunt labore et dolore magna aliqua.
            .dishes-card__links
                a.dishes-card__more(href="#") Подробнее
                .socials
                    a.socials__link(href="#")
                        i.fab.fa-facebook-f
                    a.socials__link(href="#")
                        i.fab.fa-vk
                    a.socials__link(href="#")
                        i.fab.fa-twitter
                    a.socials__link(href="#")
                        i.fab.fa-instagram
                    a.socials__link(href="#")
                        i.fab.fa-instagram
        .dishes-card
            img(src="assets/img/dishes-5.jpg" alt="dishes photo")
            .dishes-card__type закуски
            h3.dishes-card__title Нарезка из фруктов
            div.dishes-card__date
                | Февраль 29, 2017
                | |
                .coments
                    | 0
            p.dishes-card__paragraph Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.
            .dishes-card__links
                a.dishes-card__more(href="#") Подробнее
                .socials
                    a.socials__link(href="#")
                        i.fab.fa-facebook-f
                    a.socials__link(href="#")
                        i.fab.fa-vk
                    a.socials__link(href="#")
                        i.fab.fa-twitter
                    a.socials__link(href="#")
                        i.fab.fa-instagram
                    a.socials__link(href="#")
                        i.fab.fa-instagram
        .dishes-card
            img(src="assets/img/dishes-6.jpg" alt="dishes photo")
            .dishes-card__type Напитки
            h3.dishes-card__title Коктейль Морской Бриз (Си Бриз - Sea Breeze)
            div.dishes-card__date
                | Февраль 29, 2017
                | |
                .coments
                    | 0
            p.dishes-card__paragraph Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.
            .dishes-card__links
                a.dishes-card__more(href="#") Подробнее
                .socials
                    a.socials__link(href="#")
                        i.fab.fa-facebook-f
                    a.socials__link(href="#")
                        i.fab.fa-vk
                    a.socials__link(href="#")
                        i.fab.fa-twitter
                    a.socials__link(href="#")
                        i.fab.fa-instagram
                    a.socials__link(href="#")
                        i.fab.fa-instagram
        .dishes-card
            img(src="assets/img/dishes-7.jpg" alt="dishes photo")
            .dishes-card__type Ужин
            h3.dishes-card__title Быстрые бутерброды
            div.dishes-card__date
                | Февраль 29, 2017
                | |
                .coments
                    | 3
            p.dishes-card__paragraph Neque porro dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia numquam eius modi aliquam quaerat voluptatem.
            .dishes-card__links
                a.dishes-card__more(href="#") Подробнее
                .socials
                    a.socials__link(href="#")
                        i.fab.fa-facebook-f
                    a.socials__link(href="#")
                        i.fab.fa-vk
                    a.socials__link(href="#")
                        i.fab.fa-twitter
                    a.socials__link(href="#")
                        i.fab.fa-instagram
                    a.socials__link(href="#")
                        i.fab.fa-instagram
        .dishes-card
            img(src="assets/img/dishes-8.jpg" alt="dishes photo")
            .dishes-card__type Супы
            h3.dishes-card__title Чечевичный суп
            div.dishes-card__date
                | Февраль 29, 2017
                | |
                .coments
                    | 0
            p.dishes-card__paragraph Consectetur adipisicing elit, eiusmod tempor incididunt labore et dolore magna aliqua.
            .dishes-card__links
                a.dishes-card__more(href="#") Подробнее
                .socials
                    a.socials__link(href="#")
                        i.fab.fa-facebook-f
                    a.socials__link(href="#")
                        i.fab.fa-vk
                    a.socials__link(href="#")
                        i.fab.fa-twitter
                    a.socials__link(href="#")
                        i.fab.fa-instagram
                    a.socials__link(href="#")
                        i.fab.fa-instagram
