footer.footer
    .footer__wrapper.container
        .categories
            .categories__title Список категорий
            ul.categories__items
                li.categories__item
                    a(href="#").categories__link Салаты
                li.categories__item
                    a(href="#").categories__link Выпечка Выпечка
                li.categories__item
                    a(href="#").categories__link Расписание
                li.categories__item
                    a(href="#").categories__link Цены
                li.categories__item
                    a(href="#").categories__link Команда
                li.categories__item
                    a(href="#").categories__link Контакты
                li.pages__item

        .contacts
            .contacts__title Контакты
            ul.contacts__items
                li.contacts__item
                    a(href="tel:+6494461709").contacts__link
                        img.contacts__link-icon(src="assets/img/phone.svg", alt="Phone icon")
                        |+38 050 32 45 555
                li.contacts__item
                    a(href="mailto:test@test.test").contacts__link
                        img.contacts__link-icon(src="assets/img/email.svg", alt="Email icon")
                        |mail@fitness.org
                li.contacts__item
                    a(href="#").contacts__link
                        img.contacts__link-icon(src="assets/img/marker.svg", alt="Marker icon")
                        |г. Киев, ул.Центр, дом. 1
        div.schedule
            .schedule__title График работы
            ul.schedule__items
                li.schedule__item Пн-Сб 9:00-22:00
                li.schedule__item Вс 10:00-22:00
    .footer__copyright © 2017 Все права защищены