footer.footer
    .footer__wrapper.container
        .categories
            .categories__title Список категорий
            ul.categories__items
                li.categories__item
                    a(href="#").categories__link Салаты
                li.categories__item
                    a(href="#").categories__link Супы
                li.categories__item
                    a(href="#").categories__link Десерты
                li.categories__item
                    a(href="#").categories__link Напитки
                li.pages__item
            ul.categories__items
                li.categories__item
                    a(href="#").categories__link Выпечка
                li.categories__item
                    a(href="#").categories__link Закуски
                li.categories__item
                    a(href="#").categories__link Соусы
                li.categories__item
                    a(href="#").categories__link Закатки
        .last-posts
            h2.last-posts__title Последние посты
            ul.last-posts__items
                li.last-posts__item
                    img.last-posts__img(src="assets/img/last-post-1.jpg", alt="Dishes photo")
                    .last-posts_content
                        a.last-posts__link( href="#")
                            h4.last-posts__item-title Брокколи в горчичном соусе
                        .last-posts__date Ноябрь 12, 2017
                li.last-posts__item
                    img.last-posts__img(src="assets/img/last-post-2.jpg", alt="Dishes photo")
                    .last-posts__content
                        a.last-posts__link( href="#")
                            h4.last-posts__item-title Брокколи в горчичном соусе
                        .last-posts__date Ноябрь 12, 2017
        .subscription.subscription--footer
            .subscription__wrapper.subscription__wrapper--footer
                h3.subscription__title.subscription__title--footer подписка на новости
                p.subscription__paragraph Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, tempora incidunt.
                form.subscription__form
                    input.subscription__input.subscription__input--footer(type="email", name="email", placeholder="Ваша электронная почта ...")
                    button.subscription__sumbit.subscription__sumbit--footer(type="submit")
                        .vertical-line
                        i.fas.fa-envelope
    .footer__copyright Copyright © 2017. Все права защищены