section.instagram
    .instagram__wrapper
        a.instagram-card(href="#")
            img(src="assets/img/instagram-1.jpg", alt="Photo instagram")
        a.instagram-card(href="#")
            img(src="assets/img/instagram-2.jpg", alt="Photo instagram")
        a.instagram-card(href="#")
            img(src="assets/img/instagram-2.jpg", alt="Photo instagram")
        a.instagram-card(href="#")
            img(src="assets/img/instagram-4.jpg", alt="Photo instagram")
        a.instagram-card(href="#")
            img(src="assets/img/instagram-5.jpg", alt="Photo instagram")

