section.paginations
    .paginations__wrapper
        ul.paginations__items
            li.paginations__item
                a.paginations__link(href="#") <<
            li.paginations__item
                a.paginations__link(href="#") <
            li.paginations__item
                a.paginations__link(href="#") 1
            li.paginations__item
                a.paginations__link(href="#") 2
            li.paginations__item
                a.paginations__link(href="#") ...
            li.paginations__item
                a.paginations__link(href="#") 10
            li.paginations__item
                a.paginations__link(href="#") >
            li.paginations__item
                a.paginations__link(href="#") >>
