.popular
    .popular__wrapper
        h2.popular__title Популярные посты
        ul.popular__items
            li.popular__item
                img.popular__img(src="assets/img/popular1.jpg", alt="Dishes photo")
                .popular__content
                    a.popular__link( href="#")
                        h4.popular__item-title Рецепт домашних конфет ирисок из сметаны и сахара
                    .popular__date Ноябрь 12, 2017
            li.popular__item
                img.popular__img(src="assets/img/popular2.jpg", alt="Dishes photo")
                .popular__content
                    a.popular__link( href="#")
                        h4.popular__item-title Рецепт домашних конфет
                    .popular__date Ноябрь 12, 2017
            li.popular__item
                img.popular__img(src="assets/img/popular3.jpg", alt="Dishes photo")
                .popular__content
                    a.popular__link( href="#")
                        h4.popular__item-title Салат цезарь
                    .popular__date Ноябрь 12, 2017
            li.popular__item
                img.popular__img(src="assets/img/popular4.jpg", alt="Dishes photo")
                .popular__content
                    a.popular__link( href="#")
                        h4.popular__item-title Домашнее овсяное печенье
                    .popular__date Ноябрь 12, 2017