section.services
    .services__wrapper.container
        h2.section__title
            span.section__line
            |Услуги
            span.section__line
        ul.services__items
            li.services__item.services__item--personal-coach
                h3.services__title Личный тренер
                .services__price 235 грн
                p.services__paragraph Excepteur sint cupidatat nonsunt  proident, sunt culpa deserunt officia mollit anim est ideaes cupidatat laborum.
                a.services__link-more(href="#") Подробнее
            li.services__item.services__item--gym
                h3.services__title Тренажерный зал
                .services__price 235 грн
                p.services__paragraph Excepteur sint cupidatat nonsunt  proident, sunt culpa deserunt officia mollit anim est ideaes cupidatat laborum.
                a.services__link-more(href="#") Подробнее
            li.services__item.services__item--group-lessons
                h3.services__title Групповые занятия
                .services__price 235 грн
                p.services__paragraph Excepteur sint cupidatat nonsunt  proident, sunt culpa deserunt officia mollit anim est ideaes cupidatat laborum.
                a.services__link-more(href="#") Подробнее
            li.services__item.services__item--boxing
                h3.services__title Бокс
                .services__price 235 грн
                p.services__paragraph Excepteur sint cupidatat nonsunt  proident, sunt culpa deserunt officia mollit anim est ideaes cupidatat laborum.
                a.services__link-more(href="#") Подробнее