.subscription
    .subscription__wrapper
            h3.subscription__title подписка на новости
            form.subscription__form
                input.subscription__input(type="email", name="email", placeholder="Ваша электронная почта ...")
                button.subscription__sumbit(type="submit")
                    .vertical-line
                    i.fas.fa-envelope