.tags
    h3.tags__title Популярные теги
    .tags__links
        a(href="#").tags__link Десерт
        a(href="#").tags__link Салат
        a(href="#").tags__link супы
        a(href="#").tags__link Напитки
        a(href="#").tags__link закуски
        a(href="#").tags__link Десерты
        a(href="#").tags__link Соусы
        a(href="#").tags__link закатки
        a(href="#").tags__link Выпечка
        a(href="#").tags__link Завтрак
        a(href="#").tags__link Обед
        a(href="#").tags__link Ужин


