.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;

  @include media(650) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.logo {
  text-decoration: none;
  color: #111519;
  font-size: 27px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  margin-right: 55px;
  @include media(500) {
    margin-right: 10px;
  }
}

.nav-close-button,
.nav-open-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  font-size: 25px;
  visibility: hidden;
  position: absolute;
  left: -9999px;
  padding: 5px;

  &:hover {
    color: #aa183c;
    cursor: pointer;
  }
  @include media(1154) {
    visibility: visible;
    position: static;
    left: auto;
  }
}

.nav-close-button {
  position: fixed;
  background-color: #fff;
  top: 18px;
  right: 12px;
}

.logo--dark-red {
  color: #aa183c;
}

.nav {
  @include media(1154) {
    display: none;
  }
}

.nav.active {
  background-color: rgba(#fff, 0.8);
  z-index: 20;
  position: fixed;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav__items {
    flex-direction: column;
    justify-content: center;
  }

  .nav__item {
    margin-right: 0;
  }

  .dropdown-menu {
    top: 28px;
    left: -50px;
  }
}

.nav__items {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

.dropdown {
  position: relative;
}

.dropdown-toggle,
.nav__link {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #111519;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-weight: 600;
  line-height: 34px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.42px;

  &:hover {
    color: #aa183c;
  }
}

.dropdown-toggle--sub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle {
  display: flex;

  &:hover {
    cursor: pointer;
  }

  .fas.fa-sort-down {
    margin-top: 9px;
    margin-left: 7px;
  }
}

.dropdown-item {
  text-decoration: none;
}

.dropdown-menu {
  z-index: 10;
  min-width: 141px;
  display: none;
  flex-direction: column;
  border-top: 1px solid #eed1d8;
  background-color: #fff;
  position: absolute;
  top: 52px;
  left: 0;
  padding: 25px 15px 25px 25px;
}

.dropdown-menu.active {
  display: flex;
}

.dropdown-menu--sub {
  left: 111%;
  top: 0;
}

.search-form {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  position: relative;

  @include media(500) {
    margin-top: 15px;
  }
}

.search-form__input {
  visibility: hidden;
  color: #150b04;
  max-width: 128px;
  padding: 0 120px 1px 0;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.42px;
  border: none;
  border-bottom: 1px solid #000000;
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }

  &:focus {
    opacity: 1;
    color: #171b1f;
  }
}

.search-form__input.active {
  visibility: visible;
}

.socials--search-form {
  position: absolute;
  right: 55px;
  top: 0;
}

.search-form__line {
  width: 1px;
  height: 13px;
  background-color: #000000;
  opacity: 0.2;
}

.search-form__button {
  margin-left: 18.4px;
  padding: 0;
  color: #150b04;
  border: none;
  background-color: transparent;

  &:hover {
    color: #aa183c;
    cursor: pointer;
  }
}