.instagram {
  margin-top: 92px;

  .fab.fa-instagram {
    top: 48%;
    left: 48%;
    position: absolute;
    opacity: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.75px;

    &:hover {
      opacity: 1;
    }
  }
}

.instagram__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instagram-card {
  width: 20%;
  height: auto;
  position: relative;

  @include media(500) {
    padding: 20px;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 100%;
  }
  &:hover .fab.fa-instagram {
    opacity: 0.4;
  }
  &:before {
    content: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &:hover:before {
    content: "";
  }
}

.instagram .fab.fa-instagram {
  top: 48%;
  left: 48%;
  position: absolute;
  opacity: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.75px;

  &:hover {
    opacity: 1;
  }
}
