.pagination {
  margin-top: -9px;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;

}

.pagination__items {
  display: flex;
  justify-content: center;

  @include media(490) {
    flex-wrap: wrap;
  }
}

.pagination__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3a4a5;
  width: 38px;
  height: 38px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  border: 1px solid #a3a4a5;

  @include media(490) {
    margin-bottom: 10px;
  }

  &.active,
  &:hover {
    color: #aa183c;
    border-color: #aa183c;
  }
}